@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Lato/Lato-Light.ttf');
} 

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Lato/Lato-Regular.ttf');
} 

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Lato/Lato-SemiBold.ttf');
} 

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Lato/Lato-Bold.ttf');
} 

@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ReenieBeanie/ReenieBeanie-Regular.ttf');
} 